*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 70px;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
}

ul.flex{
    display: flex;
    list-style-type: none;
    align-items: center;
}

li{
    margin-right: 1rem;
}

li.tasto_blu{
    background-color:rgb(12, 84, 210);
    width: 3.6rem;
    color: white;
    text-align: center;
}

section.size1{
    border-top: 0px;
    height: 829px;
    padding-top: 70px;
    background-color: rgb(190, 215, 246);
}

.container1.flex{
    height: 554px;
    width: 100%;
    display: flex;
}

div.testo1{
    width: 40% ;
    height: 100%;
    overflow: visible;
}

div.immagine1{
    width: 60% ;
    height: 100%;
}

div.immagine1>img{
    width: 686px;
    height: 663px;
    overflow: visible;
}

span.tasto_blu{
    background-color: rgb(12, 84, 210);
    color: white;
    display: inline-block;
    width: 62%;
    height: 10%;
    text-align: center;
    line-height: 55.4px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

div.testo1:last-child{
    height: 10px;
}

section.size1 h1{
    font-size: 4.2rem; 
    margin-bottom:50px;
}

section.size1>div {
    width: 68%;
    height: 759px;
    margin: 0 auto;
}

section.size2{
    height: 698px;
    border: 2px solid black;
    border-top: 0;
    padding-top: 140px;
}

section.size2>div{
    height: 558px;
    border: 2px solid black;
    width: 68%;
    margin: 0 auto;
}

section.size3{
    border: 2px solid black;
    border-top: 0px;
    height: 323px;
    padding-top: 55px;
}

section.size3>div{
    height: 268px;
    border: 2px solid black;
    width: 68%;
    margin: 0 auto;
}

section.size4{
    height: 518px; 
    border: 2px solid black;  
    border-top: 0px ;
    padding-top: 145px;
}

section.size4>div{
    height: 373px;
    border: 2px solid black;
    width: 68%;
    margin: 0 auto;
}

section.size6{
    margin-top: 145px;
    border: 2px solid black;
    height: 448px;
}

section.size6>div{
    width: 68%;
    height: 258px;
    margin: 0 auto;
    border: 2px solid black;
    border-top: 0;
}

section.size7{
    height: 628px;
    border-bottom: 0;
    border-top: 0;
}

section.size7 div:first-child{
    height: 360px;
    border: 2px solid black;
}

section.size7 div:last-child{
    height: 268px;
    border: 2px solid black;
    border-top: 0;

}

section.size8{
    height: 558px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

section.size9{
    height: 360px;
    border: 2px solid black;
}